{
  "openapi": "3.1.0",
  "info": {
    "title": "0xRadar API",
    "description": "Multi-chain wallet intelligence platform — portfolio aggregation, DeFi position monitoring, sweep cost calculation, and token risk scoring across 8 EVM chains + Solana.\n\n**Features:**\n- Real-time multi-chain balance aggregation (parallel `asyncio` fetch)\n- Token metadata enrichment (symbol, name, decimals, logo)\n- CoinGecko USD price integration\n- Sweep consolidation cost calculator (unique differentiator vs DeBank/Zerion)\n- DeFi position aggregation (Aave v3, HyperLend, Sentiment v2, Uniswap v3, Compound v3)\n- Token risk scoring with GoPlus Security integration\n- Magic link authentication (anti-enumeration)\n- API key management, usage stats, rate limit monitoring\n- Crypto payment checkout (NOWPayments) — unauthenticated or authenticated\n- Solana balance support via Helius RPC\n\n**Authentication:** Optional `X-API-Key` header for higher rate limits. Pro tier required for admin endpoints. Magic link auth for dashboard access.",
    "version": "0.4.0",
    "contact": {
      "name": "0xRadar Team",
      "email": "volkanglm@gmail.com",
      "url": "https://0xradar.app"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-logo": {
      "url": "https://0xradar.app/favicon.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.0xradar.app",
      "description": "Production (Frankfurt)"
    },
    {
      "url": "https://staging-api.0xradar.app",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Health check, service info, and chain metadata",
      "x-displayName": "System"
    },
    {
      "name": "Auth",
      "description": "Magic link authentication — email-based passwordless login",
      "x-displayName": "Auth"
    },
    {
      "name": "User",
      "description": "Authenticated user endpoints — profile, API keys, usage stats, subscription, checkout",
      "x-displayName": "User"
    },
    {
      "name": "Wallet",
      "description": "Wallet balances and portfolio across chains",
      "x-displayName": "Wallet"
    },
    {
      "name": "Positions",
      "description": "DeFi position aggregation across lending and LP protocols",
      "x-displayName": "Positions"
    },
    {
      "name": "Risk",
      "description": "Token risk scoring — security analysis of ERC-20 tokens",
      "x-displayName": "Risk"
    },
    {
      "name": "Sweep",
      "description": "Sweep consolidation quote — calculate cost to consolidate dust/wallet assets to a single chain",
      "x-displayName": "Sweep"
    },
    {
      "name": "Payments",
      "description": "Unauthenticated crypto checkout — purchase API access via NOWPayments",
      "x-displayName": "Payments"
    },
    {
      "name": "Webhooks",
      "description": "Payment provider webhooks — NOWPayments IPN",
      "x-displayName": "Webhooks"
    },
    {
      "name": "Admin",
      "description": "Admin-only endpoints (pro tier API key required)",
      "x-displayName": "Admin"
    }
  ],
  "security": [],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Service info",
        "description": "Returns basic service metadata and available endpoints. No authentication required.",
        "operationId": "getServiceInfo",
        "security": [],
        "responses": {
          "200": {
            "description": "Service information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceInfo"
                },
                "examples": {
                  "production": {
                    "summary": "Production response",
                    "value": {
                      "app": "0xRadar API",
                      "version": "0.4.0",
                      "docs": "/docs",
                      "endpoints": {
                        "health": "/v1/health",
                        "wallet_balances": "/v1/wallet/{address}/balances?chain={chain}",
                        "wallet_portfolio": "/v1/wallet/{address}/portfolio",
                        "sweep_quote": "/v1/sweep-quote/{address}",
                        "positions": "/v1/positions/{address}",
                        "token_risk": "/v1/token/{address}/risk",
                        "crypto_checkout": "/v1/checkout/crypto"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Returns API health status, version, supported chains (including Solana), and dependency status. Use for monitoring and uptime checks.",
        "operationId": "healthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "examples": {
                  "healthy": {
                    "summary": "All systems operational",
                    "value": {
                      "status": "ok",
                      "service": "0xradar-api",
                      "version": "0.4.0",
                      "supported_chains": [
                        "ethereum",
                        "arbitrum",
                        "base",
                        "optimism",
                        "polygon",
                        "hyperevm",
                        "bsc",
                        "solana"
                      ],
                      "chain_count": 8,
                      "dependencies": {
                        "redis": "ok"
                      },
                      "timestamp": "2026-05-27T06:38:15.395077"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/chains": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "List supported chains",
        "description": "Returns metadata for all 8 supported chains (7 EVM + Solana) including chain IDs, explorers, and L2 status.",
        "operationId": "listChains",
        "security": [],
        "responses": {
          "200": {
            "description": "List of supported chains",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainsResponse"
                },
                "examples": {
                  "allChains": {
                    "summary": "All 8 supported chains",
                    "value": {
                      "chains": [
                        {
                          "id": "ethereum",
                          "name": "Ethereum",
                          "native_symbol": "ETH",
                          "chain_id": 1,
                          "explorer": "https://etherscan.io",
                          "is_l2": false
                        },
                        {
                          "id": "arbitrum",
                          "name": "Arbitrum One",
                          "native_symbol": "ETH",
                          "chain_id": 42161,
                          "explorer": "https://arbiscan.io",
                          "is_l2": true
                        },
                        {
                          "id": "base",
                          "name": "Base",
                          "native_symbol": "ETH",
                          "chain_id": 8453,
                          "explorer": "https://basescan.org",
                          "is_l2": true
                        },
                        {
                          "id": "optimism",
                          "name": "Optimism",
                          "native_symbol": "ETH",
                          "chain_id": 10,
                          "explorer": "https://optimistic.etherscan.io",
                          "is_l2": true
                        },
                        {
                          "id": "polygon",
                          "name": "Polygon",
                          "native_symbol": "POL",
                          "chain_id": 137,
                          "explorer": "https://polygonscan.com",
                          "is_l2": false
                        },
                        {
                          "id": "hyperevm",
                          "name": "HyperEVM",
                          "native_symbol": "HYPE",
                          "chain_id": 999,
                          "explorer": "https://hyperevmscan.io",
                          "is_l2": false
                        },
                        {
                          "id": "bsc",
                          "name": "BNB Smart Chain",
                          "native_symbol": "BNB",
                          "chain_id": 56,
                          "explorer": "https://bscscan.com",
                          "is_l2": false
                        },
                        {
                          "id": "solana",
                          "name": "Solana",
                          "native_symbol": "SOL",
                          "chain_id": 900,
                          "explorer": "https://solscan.io",
                          "is_l2": false
                        }
                      ],
                      "count": 8
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/wallet/{address}/balances": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get wallet balances on a single chain",
        "description": "Fetches native + ERC-20 token balances for an address on a specific chain. Includes USD values when `include_prices=true`. Results are cached for 5 minutes.\n\n**EVM chains:** Uses standard RPC (balanceOf + native).\n**Solana (`chain=solana`):** Uses Helius RPC and returns a Solana-native schema (SPL tokens instead of ERC-20). Solana addresses are base58-encoded (e.g., `7EcD...`).\n\n**Free tier:** max 10 tokens returned. **Dev/Pro:** up to 200.",
        "operationId": "getWalletBalances",
        "security": [
          {},
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "EVM wallet address (0x prefix, 42 characters)",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "Chain ID to query",
            "schema": {
              "type": "string",
              "enum": [
                "ethereum",
                "arbitrum",
                "base",
                "optimism",
                "polygon",
                "hyperevm",
                "bsc",
                "solana"
              ],
              "default": "ethereum",
              "example": "ethereum"
            }
          },
          {
            "name": "include_prices",
            "in": "query",
            "required": false,
            "description": "Whether to include USD price and value calculations",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            }
          },
          {
            "name": "max_tokens",
            "in": "query",
            "required": false,
            "description": "Maximum number of ERC-20 tokens to return (free: max 10, paid: max 200)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 20,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balances on the requested chain",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalancesResponse"
                },
                "examples": {
                  "vitalikEthereum": {
                    "summary": "Vitalik's Ethereum wallet",
                    "value": {
                      "address": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045",
                      "chain": "ethereum",
                      "chain_info": {
                        "name": "Ethereum",
                        "chain_id": 1,
                        "explorer": "https://etherscan.io"
                      },
                      "native": {
                        "symbol": "ETH",
                        "balance": "5.68",
                        "price_usd": "2061.15",
                        "value_usd": "11706.32"
                      },
                      "tokens": [
                        {
                          "contract": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                          "symbol": "USDC",
                          "name": "USD Coin",
                          "decimals": 6,
                          "logo": null,
                          "balance": "1500.0",
                          "balance_raw": "1500000000",
                          "price_usd": "1.00",
                          "value_usd": "1500.0"
                        }
                      ],
                      "token_count_total": 5,
                      "token_count_shown": 5,
                      "total_value_usd": "13206.32",
                      "timestamp": "2026-05-27T06:38:15.395077"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or unsupported chain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidAddress": {
                    "summary": "Invalid address format",
                    "value": {
                      "detail": "Invalid EVM address (expected 0x... 42 chars)",
                      "code": "invalid_address"
                    }
                  },
                  "unsupportedChain": {
                    "summary": "Chain not supported",
                    "value": {
                      "detail": "Unsupported chain 'solana'. Available: ethereum, arbitrum, base, optimism, polygon, hyperevm, bsc",
                      "code": "unsupported_chain"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/wallet/{address}/portfolio": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get multi-chain portfolio",
        "description": "Fetches wallet balances across multiple chains in parallel. Returns aggregated totals and per-chain breakdowns. Results are cached for 5 minutes.\n\n**Free tier:** max 3 chains per request. **Dev/Pro:** up to 20 chains. Supports all EVM chains and Solana (via Helius RPC).",
        "operationId": "getWalletPortfolio",
        "security": [
          {},
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "EVM wallet address (0x prefix, 42 characters)",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            }
          },
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "description": "Comma-separated chain IDs. Default: all supported chains. Free tier limits to 3.",
            "schema": {
              "type": "string",
              "example": "ethereum,base,arbitrum"
            }
          },
          {
            "name": "include_prices",
            "in": "query",
            "required": false,
            "description": "Whether to include USD price and value calculations",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            }
          },
          {
            "name": "max_tokens_per_chain",
            "in": "query",
            "required": false,
            "description": "Maximum tokens returned per chain",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Multi-chain portfolio with per-chain breakdown",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioResponse"
                },
                "examples": {
                  "vitalikMultiChain": {
                    "summary": "Vitalik across Ethereum + Base",
                    "value": {
                      "address": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045",
                      "chains_requested": [
                        "ethereum",
                        "base"
                      ],
                      "chains_with_value": 2,
                      "total_value_usd": "13250.45",
                      "total_tokens": 8,
                      "by_chain": {
                        "ethereum": {
                          "address": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045",
                          "chain": "ethereum",
                          "chain_info": {
                            "name": "Ethereum",
                            "chain_id": 1,
                            "explorer": "https://etherscan.io"
                          },
                          "native": {
                            "symbol": "ETH",
                            "balance": "5.68",
                            "price_usd": "2061.15",
                            "value_usd": "11706.32"
                          },
                          "tokens": [
                            {
                              "contract": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                              "symbol": "USDC",
                              "name": "USD Coin",
                              "decimals": 6,
                              "logo": null,
                              "balance": "1500.0",
                              "balance_raw": "1500000000",
                              "price_usd": "1.00",
                              "value_usd": "1500.0"
                            }
                          ],
                          "token_count_total": 5,
                          "token_count_shown": 5,
                          "total_value_usd": "13206.32",
                          "timestamp": "2026-05-27T06:38:15.395077"
                        },
                        "base": {
                          "address": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045",
                          "chain": "base",
                          "chain_info": {
                            "name": "Base",
                            "chain_id": 8453,
                            "explorer": "https://basescan.org"
                          },
                          "native": {
                            "symbol": "ETH",
                            "balance": "0.015",
                            "price_usd": "2061.15",
                            "value_usd": "44.13"
                          },
                          "tokens": [],
                          "token_count_total": 0,
                          "token_count_shown": 0,
                          "total_value_usd": "44.13",
                          "timestamp": "2026-05-27T06:38:16.102034"
                        }
                      },
                      "errors": [],
                      "timestamp": "2026-05-27T06:38:16.102034"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidAddress": {
                    "summary": "Invalid address format",
                    "value": {
                      "detail": "Invalid EVM address",
                      "code": "invalid_address"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/sweep-quote/{address}": {
      "get": {
        "tags": [
          "Sweep"
        ],
        "summary": "Calculate sweep consolidation cost",
        "description": "Estimates the gas cost to sweep/consolidate all assets from a wallet across specified chains to a target chain. Analyzes each chain's token count, estimates gas costs, and provides a profitability recommendation.\n\n**Unique differentiator:** DeBank, Zerion, and other portfolio trackers do not offer sweep cost calculation.",
        "operationId": "getSweepQuote",
        "security": [
          {},
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "EVM wallet address (0x prefix, 42 characters)",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            }
          },
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "description": "Comma-separated chain IDs to evaluate. Default: all supported chains.",
            "schema": {
              "type": "string",
              "example": "ethereum,arbitrum,base"
            }
          },
          {
            "name": "target_chain",
            "in": "query",
            "required": false,
            "description": "Chain to consolidate assets to",
            "schema": {
              "type": "string",
              "enum": [
                "ethereum",
                "arbitrum",
                "base",
                "optimism",
                "polygon",
                "hyperevm",
                "bsc",
                "solana"
              ],
              "default": "base",
              "example": "base"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sweep cost summary with profitability analysis",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SweepQuoteResponse"
                },
                "examples": {
                  "profitableCase": {
                    "summary": "Sweep is profitable (vitalik.eth to Base)",
                    "value": {
                      "address": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045",
                      "chains_evaluated": [
                        "ethereum",
                        "base"
                      ],
                      "target_chain": "base",
                      "by_chain": [
                        {
                          "chain": "ethereum",
                          "token_count": 5,
                          "gas_cost_usd": "0.50",
                          "net_value_usd": "11706.27",
                          "is_profitable": true
                        },
                        {
                          "chain": "base",
                          "token_count": 0,
                          "gas_cost_usd": "0.00",
                          "net_value_usd": "44.13",
                          "is_profitable": false
                        }
                      ],
                      "summary": {
                        "total_gross_value_usd": "13250.45",
                        "total_gas_cost_usd": "0.50",
                        "total_net_value_usd": "11750.40",
                        "recommendation": "sweep",
                        "recommendation_reason": "Net gain of $11750.40 exceeds gas costs"
                      },
                      "timestamp": "2026-05-27T06:38:18.555123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or unsupported target chain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidAddress": {
                    "summary": "Invalid address format",
                    "value": {
                      "detail": "Invalid EVM address",
                      "code": "invalid_address"
                    }
                  },
                  "unsupportedTarget": {
                    "summary": "Target chain not supported",
                    "value": {
                      "detail": "Unsupported target chain: solana",
                      "code": "unsupported_chain"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/admin/keys": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List API keys (admin only)",
        "description": "Returns a list of registered API keys with their hash prefixes and metadata. **Pro tier API key required.** For security, full key values are never exposed — only SHA-256 hash prefixes.\n\nNote: The 0xRadar platform now supports Solana balances via Helius RPC in addition to 7 EVM chains.",
        "operationId": "adminListKeys",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of registered API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminKeysResponse"
                },
                "examples": {
                  "keysList": {
                    "summary": "Two registered keys",
                    "value": {
                      "keys": [
                        {
                          "hash_prefix": "a1b2c3d4e5f6",
                          "user_id": "dev",
                          "tier": "pro",
                          "name": "dev test",
                          "created_at": "2026-05-20T10:00:00Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingKey": {
                    "summary": "No API key provided",
                    "value": {
                      "detail": "Missing X-API-Key header or api_key query param",
                      "code": "missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid key or insufficient tier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidKey": {
                    "summary": "Invalid API key",
                    "value": {
                      "detail": "Invalid API key",
                      "code": "invalid_api_key"
                    }
                  },
                  "insufficientTier": {
                    "summary": "Not pro tier",
                    "value": {
                      "detail": "Admin tier required",
                      "code": "insufficient_tier"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/auth/magic-link": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Send magic link email",
        "description": "Sends a one-time magic link to the provided email address. The link contains a short-lived JWT token for passwordless authentication. **Always returns 200** even for unknown emails — this prevents email enumeration attacks.\n\nToken expiry: 15 minutes. User accounts are created on first successful login (auto-provisioning).",
        "operationId": "sendMagicLink",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MagicLinkRequest"
              },
              "examples": {
                "validEmail": {
                  "summary": "Request a magic link",
                  "value": {
                    "email": "vitalik@ethereum.org"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Magic link sent (or silently ignored for unknown emails — anti-enumeration)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MagicLinkResponse"
                },
                "examples": {
                  "sent": {
                    "summary": "Always returns sent: true",
                    "value": {
                      "sent": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid email format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidEmail": {
                    "summary": "Malformed email",
                    "value": {
                      "detail": "Invalid email address",
                      "code": "invalid_email"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/auth/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify magic link token",
        "description": "Validates a magic link token and returns a session JWT. The token is **one-time use** — it is deleted after successful verification. If the email doesn't have an account yet, one is created automatically.\n\nUse the returned `token` as `X-API-Key` header for authenticated endpoints.",
        "operationId": "verifyMagicLink",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              },
              "examples": {
                "validToken": {
                  "summary": "Verify a token from the magic link",
                  "value": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ2aXRhbGlrQGV0aGVyZXVtLm9yZyIsImV4cCI6MTc0ODMzMjAwMH0.abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token verified, session JWT returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification — new session token",
                    "value": {
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ2aXRhbGlrQGV0aGVyZXVtLm9yZyIsInRpZXIiOiJmcmVlIiwiZXhwIjoxNzQ4MzM1NjAwfQ.xyz789",
                      "user": {
                        "id": "usr_a1b2c3d4",
                        "email": "vitalik@ethereum.org",
                        "tier": "free"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "expired": {
                    "summary": "Token expired",
                    "value": {
                      "detail": "Token expired or already used",
                      "code": "token_invalid"
                    }
                  },
                  "invalid": {
                    "summary": "Token invalid",
                    "value": {
                      "detail": "Invalid magic link token",
                      "code": "token_invalid"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Current user info",
        "description": "Returns the authenticated user's profile including tier, email, and API key expiry.",
        "operationId": "getCurrentUser",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user profile",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserMeResponse"
                },
                "examples": {
                  "proUser": {
                    "summary": "Pro tier user",
                    "value": {
                      "user_id": "usr_a1b2c3d4",
                      "email": "vitalik@ethereum.org",
                      "tier": "pro",
                      "key_prefix": "0xr_pro_",
                      "expires_at": "2027-05-27T06:38:15Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingKey": {
                    "summary": "No API key provided",
                    "value": {
                      "detail": "Missing X-API-Key header or api_key query param",
                      "code": "missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/me/api-keys": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "List user's API keys",
        "description": "Returns all API keys associated with the authenticated user. Full key values are never exposed — only prefixes and metadata.",
        "operationId": "listApiKeys",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeysListResponse"
                },
                "examples": {
                  "twoKeys": {
                    "summary": "User with two API keys",
                    "value": {
                      "keys": [
                        {
                          "id": "key_abc123",
                          "key_prefix": "0xr_free_",
                          "tier": "free",
                          "created_at": "2026-05-20T10:00:00Z",
                          "last_used_at": "2026-05-27T06:00:00Z",
                          "expires_at": null
                        },
                        {
                          "id": "key_def456",
                          "key_prefix": "0xr_pro_",
                          "tier": "pro",
                          "created_at": "2026-05-25T14:30:00Z",
                          "last_used_at": "2026-05-27T06:30:00Z",
                          "expires_at": "2027-05-25T14:30:00Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingKey": {
                    "summary": "No API key provided",
                    "value": {
                      "detail": "Missing X-API-Key header or api_key query param",
                      "code": "missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create new API key",
        "description": "Generates a new API key for the authenticated user. **The plaintext key is returned only once** — store it immediately. The `key.key_prefix` is stored server-side for display; the full key value cannot be retrieved later.\n\nIf `tier` is omitted, the key inherits the user's current tier.",
        "operationId": "createApiKey",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Optional label for this key",
                    "example": "My trading bot"
                  },
                  "tier": {
                    "type": "string",
                    "enum": [
                      "free",
                      "dev",
                      "pro"
                    ],
                    "description": "Tier override (default: user's current tier)",
                    "example": "pro"
                  }
                }
              },
              "examples": {
                "namedKey": {
                  "summary": "Create a named API key",
                  "value": {
                    "name": "My trading bot"
                  }
                },
                "proKey": {
                  "summary": "Create a pro tier key",
                  "value": {
                    "name": "Production API key",
                    "tier": "pro"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created — plaintext shown once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponse"
                },
                "examples": {
                  "created": {
                    "summary": "New API key with one-time plaintext",
                    "value": {
                      "plaintext": "0xr_pro_a1b2c3d4e5f6g7h8i9j0k1l2",
                      "key": {
                        "id": "key_ghi789",
                        "key_prefix": "0xr_pro_",
                        "tier": "pro",
                        "created_at": "2026-05-27T06:38:15Z"
                      },
                      "warning": "Store this key now. The full plaintext will not be shown again."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingKey": {
                    "summary": "No API key provided",
                    "value": {
                      "detail": "Missing X-API-Key header or api_key query param",
                      "code": "missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/me/api-keys/{key_id}": {
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "Revoke API key",
        "description": "Permanently revokes an API key owned by the authenticated user. The key immediately stops working. This action cannot be undone.",
        "operationId": "deleteApiKey",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "description": "The ID of the key to revoke (from GET /v1/me/api-keys)",
            "schema": {
              "type": "string",
              "example": "key_ghi789"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Always 'revoked' on success",
                      "example": "revoked"
                    },
                    "id": {
                      "type": "string",
                      "description": "ID of the revoked key",
                      "example": "key_ghi789"
                    }
                  }
                },
                "examples": {
                  "revoked": {
                    "summary": "Key successfully revoked",
                    "value": {
                      "status": "revoked",
                      "id": "key_ghi789"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingKey": {
                    "summary": "No API key provided",
                    "value": {
                      "detail": "Missing X-API-Key header or api_key query param",
                      "code": "missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Resource not found",
                    "value": {
                      "detail": "Not found",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/me/usage": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Usage statistics",
        "description": "Returns request counts for the authenticated user over the last N days. Useful for monitoring API consumption.",
        "operationId": "getUsageStats",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Number of days to include (1-30)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 7,
              "example": 7
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage statistics for the requested period",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                },
                "examples": {
                  "lastWeek": {
                    "summary": "Last 7 days of usage",
                    "value": {
                      "days": 7,
                      "series": [
                        {
                          "day_offset": 0,
                          "requests": 142
                        },
                        {
                          "day_offset": 1,
                          "requests": 98
                        },
                        {
                          "day_offset": 2,
                          "requests": 215
                        },
                        {
                          "day_offset": 3,
                          "requests": 67
                        },
                        {
                          "day_offset": 4,
                          "requests": 189
                        },
                        {
                          "day_offset": 5,
                          "requests": 45
                        },
                        {
                          "day_offset": 6,
                          "requests": 310
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingKey": {
                    "summary": "No API key provided",
                    "value": {
                      "detail": "Missing X-API-Key header or api_key query param",
                      "code": "missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/me/rate-limit": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Current rate limit status",
        "description": "Returns the current rate limit usage for the authenticated user, showing how many requests remain in the per-minute and per-day windows.",
        "operationId": "getRateLimitStatus",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Rate limit status",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitResponse"
                },
                "examples": {
                  "proTier": {
                    "summary": "Pro tier rate limits",
                    "value": {
                      "tier": "pro",
                      "minute": {
                        "used": 45,
                        "limit": 600
                      },
                      "day": {
                        "used": 1234,
                        "limit": 100000
                      }
                    }
                  },
                  "freeTier": {
                    "summary": "Free tier rate limits",
                    "value": {
                      "tier": "free",
                      "minute": {
                        "used": 8,
                        "limit": 10
                      },
                      "day": {
                        "used": 87,
                        "limit": 100
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingKey": {
                    "summary": "No API key provided",
                    "value": {
                      "detail": "Missing X-API-Key header or api_key query param",
                      "code": "missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/me/subscription": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Active subscription",
        "description": "Returns the user's active subscription details. Returns `null` for free tier users.",
        "operationId": "getSubscription",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Active subscription or null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponse"
                },
                "examples": {
                  "proMonthly": {
                    "summary": "Active pro monthly subscription",
                    "value": {
                      "subscription": {
                        "plan": "pro_monthly",
                        "status": "active",
                        "started_at": "2026-05-20T10:00:00Z",
                        "expires_at": "2026-06-20T10:00:00Z",
                        "payment_coin": "ETH"
                      }
                    }
                  },
                  "freeUser": {
                    "summary": "No active subscription",
                    "value": {
                      "subscription": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingKey": {
                    "summary": "No API key provided",
                    "value": {
                      "detail": "Missing X-API-Key header or api_key query param",
                      "code": "missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/me/orders": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Payment history",
        "description": "Returns the authenticated user's payment/order history from NOWPayments.",
        "operationId": "getOrders",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Payment order history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersResponse"
                },
                "examples": {
                  "twoOrders": {
                    "summary": "Two past orders",
                    "value": {
                      "orders": [
                        {
                          "order_id": "ord_abc123",
                          "invoice_id": "inv_456",
                          "plan": "pro_monthly",
                          "pay_amount": "0.025",
                          "pay_currency": "ETH",
                          "status": "completed",
                          "created_at": "2026-05-20T10:00:00Z"
                        },
                        {
                          "order_id": "ord_def456",
                          "invoice_id": "inv_789",
                          "plan": "pro_yearly",
                          "pay_amount": "0.25",
                          "pay_currency": "ETH",
                          "status": "completed",
                          "created_at": "2026-05-25T14:30:00Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingKey": {
                    "summary": "No API key provided",
                    "value": {
                      "detail": "Missing X-API-Key header or api_key query param",
                      "code": "missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/me/checkout": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Checkout — create NOWPayments invoice",
        "description": "Creates a NOWPayments invoice for the authenticated user to upgrade their plan. Returns payment details including the deposit address and amount.\n\n**Plans:**\n- `pro_monthly` — Pro tier, renewed monthly\n- `pro_yearly` — Pro tier, renewed yearly (discounted)\n- `lifetime` — Pro tier, one-time payment for lifetime access\n\n**Default coin:** ETH. Payment is tracked via the NOWPayments IPN webhook.",
        "operationId": "createCheckout",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              },
              "examples": {
                "proMonthlyEth": {
                  "summary": "Pro monthly with ETH",
                  "value": {
                    "plan": "pro_monthly",
                    "coin": "eth"
                  }
                },
                "lifetimeBtc": {
                  "summary": "Lifetime with BTC",
                  "value": {
                    "plan": "lifetime",
                    "coin": "btc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NOWPayments invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                },
                "examples": {
                  "proMonthly": {
                    "summary": "Pro monthly ETH invoice",
                    "value": {
                      "url": "https://nowpayments.io/payment/?iid=1234567890",
                      "invoice_id": "1234567890",
                      "order_id": "ord_abc123",
                      "pay_address": "0x742d35Cc6634C0532925a3b844BcD9B5C1c4D1a5",
                      "pay_amount": "0.025",
                      "pay_currency": "ETH"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidPlan": {
                    "summary": "Unknown plan name",
                    "value": {
                      "detail": "Invalid plan 'premium'. Available: pro_monthly, pro_yearly, lifetime",
                      "code": "invalid_plan"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingKey": {
                    "summary": "No API key provided",
                    "value": {
                      "detail": "Missing X-API-Key header or api_key query param",
                      "code": "missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/me/account": {
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "GDPR account deletion",
        "description": "Permanently deletes the authenticated user's account and all associated data (API keys, usage stats, payment history). This action is irreversible and fulfills GDPR right-to-erasure requirements.",
        "operationId": "deleteAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    }
                  }
                },
                "examples": {
                  "deleted": {
                    "summary": "Account deleted",
                    "value": {
                      "status": "deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingKey": {
                    "summary": "No API key provided",
                    "value": {
                      "detail": "Missing X-API-Key header or api_key query param",
                      "code": "missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/checkout/crypto": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Crypto checkout (unauthenticated)",
        "description": "Creates a NOWPayments invoice for the given email address — no authentication required. This allows users to purchase API access before creating an account.\n\n**Valid coins:** btc, eth, sol, bnb, kas, usdt, usdc.\n**Plans:** pro_monthly, pro_yearly, lifetime.\n\nAn account is automatically provisioned when the payment is confirmed via IPN webhook.",
        "operationId": "createCryptoCheckout",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutCryptoRequest"
              },
              "examples": {
                "proMonthlySol": {
                  "summary": "Pro monthly with SOL",
                  "value": {
                    "plan": "pro_monthly",
                    "email": "vitalik@ethereum.org",
                    "coin": "sol"
                  }
                },
                "lifetimeUsdt": {
                  "summary": "Lifetime with USDT",
                  "value": {
                    "plan": "lifetime",
                    "email": "vitalik@ethereum.org",
                    "coin": "usdt"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NOWPayments invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                },
                "examples": {
                  "proMonthly": {
                    "summary": "Pro monthly SOL invoice",
                    "value": {
                      "url": "https://nowpayments.io/payment/?iid=1234567890",
                      "invoice_id": "1234567890",
                      "order_id": "ord_abc123",
                      "pay_address": "7EcD...solana_address",
                      "pay_amount": "0.15",
                      "pay_currency": "SOL"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid plan or coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidPlan": {
                    "summary": "Unknown plan",
                    "value": {
                      "detail": "Invalid plan 'premium'. Available: pro_monthly, pro_yearly, lifetime",
                      "code": "invalid_plan"
                    }
                  },
                  "invalidCoin": {
                    "summary": "Unsupported coin",
                    "value": {
                      "detail": "Invalid coin 'doge'. Available: btc, eth, sol, bnb, kas, usdt, usdc",
                      "code": "invalid_coin"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/positions/{address}": {
      "get": {
        "tags": [
          "Positions"
        ],
        "summary": "Get DeFi positions",
        "description": "Aggregates DeFi positions across multiple protocols in parallel for a given wallet address. Queries lending protocols (Aave v3, HyperLend, Sentiment v2, Compound v3) and LP positions (Uniswap v3). Returns collateral, debt, health factors, and LP value.\n\nResults are cached for 60 seconds. Only EVM addresses are supported (no Solana for positions).",
        "operationId": "getPositions",
        "security": [
          {},
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "EVM wallet address (0x prefix, 42 characters)",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            }
          },
          {
            "name": "protocols",
            "in": "query",
            "required": false,
            "description": "Comma-separated protocol IDs to query",
            "schema": {
              "type": "string",
              "default": "aave_v3,hyperlend,sentiment_v2,uniswap_v3,compound_v3",
              "example": "aave_v3,uniswap_v3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DeFi positions with protocol breakdown",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionsResponse"
                },
                "examples": {
                  "vitalik": {
                    "summary": "Vitalik's DeFi positions",
                    "value": {
                      "address": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                      "summary": {
                        "total_collateral_usd": "50000.00",
                        "total_debt_usd": "12000.00",
                        "net_lending_usd": "38000.00",
                        "total_lp_value_usd": "25000.00",
                        "out_of_range_lp_count": 1,
                        "min_health_factor": "1.85",
                        "active_lending_positions": 3,
                        "protocols_queried": [
                          "aave_v3",
                          "hyperlend",
                          "uniswap_v3",
                          "compound_v3"
                        ]
                      },
                      "by_protocol": {
                        "aave_v3": {
                          "collateral": [
                            {
                              "token": "ETH",
                              "amount": "10.0",
                              "value_usd": "20611.50"
                            },
                            {
                              "token": "USDC",
                              "amount": "5000.0",
                              "value_usd": "5000.00"
                            }
                          ],
                          "debt": [
                            {
                              "token": "USDT",
                              "amount": "3000.0",
                              "value_usd": "3000.00"
                            }
                          ],
                          "health_factor": "1.85"
                        },
                        "uniswap_v3": {
                          "pools": [
                            {
                              "pool": "ETH/USDC",
                              "value_usd": "25000.00",
                              "in_range": true,
                              "fee_tier": "0.3%"
                            }
                          ]
                        }
                      },
                      "fetched_at": "2026-05-27T06:38:20.123456"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidAddress": {
                    "summary": "Invalid address format",
                    "value": {
                      "detail": "Invalid EVM address (expected 0x... 42 chars)",
                      "code": "invalid_address"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/token/{address}/risk": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Token risk scoring",
        "description": "Performs a comprehensive security analysis of an ERC-20 token contract using GoPlus Security. Evaluates signals including honeypot detection, buy/sell tax, proxy risk, liquidity, owner privileges, and more.\n\n**Not supported on hyperevm or solana.** Currently only EVM-compatible chains with Etherscan-style explorers are supported.",
        "operationId": "getTokenRisk",
        "security": [
          {},
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Token contract address (EVM, 0x... 42 chars)",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "example": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "Chain ID. Not supported on hyperevm or solana.",
            "schema": {
              "type": "string",
              "enum": [
                "ethereum",
                "arbitrum",
                "base",
                "optimism",
                "polygon",
                "bsc"
              ],
              "default": "ethereum",
              "example": "ethereum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token risk assessment",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenRiskResponse"
                },
                "examples": {
                  "lowRisk": {
                    "summary": "Low risk token (USDC)",
                    "value": {
                      "address": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                      "chain": "ethereum",
                      "symbol": "USDC",
                      "name": "USD Coin",
                      "decimals": 6,
                      "risk_score": 2,
                      "risk_level": "low",
                      "reasons": [],
                      "positive_signals": [
                        {
                          "signal": "Verified contract",
                          "evidence": "Contract source code verified on Etherscan"
                        },
                        {
                          "signal": "No honeypot",
                          "evidence": "Buy and sell transactions execute normally"
                        }
                      ],
                      "metadata": {
                        "explorer_url": "https://etherscan.io/token/0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                        "dexscreener_url": "https://dexscreener.com/ethereum/0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                        "signals_checked": 15,
                        "confidence": "high"
                      },
                      "fetched_at": "2026-05-27T06:38:22.654321"
                    }
                  },
                  "highRisk": {
                    "summary": "High risk token — multiple warnings",
                    "value": {
                      "address": "0xDef1...abc123",
                      "chain": "ethereum",
                      "symbol": "SCAM",
                      "name": "Scam Token",
                      "decimals": 18,
                      "risk_score": 85,
                      "risk_level": "high",
                      "reasons": [
                        {
                          "signal": "Honeypot detected",
                          "severity": "critical",
                          "evidence": "Sell transaction simulation failed — tokens cannot be sold"
                        },
                        {
                          "signal": "High sell tax",
                          "severity": "high",
                          "evidence": "Sell tax: 99% — likely scam"
                        },
                        {
                          "signal": "Owner can mint",
                          "severity": "medium",
                          "evidence": "Owner address can mint unlimited tokens"
                        }
                      ],
                      "positive_signals": [],
                      "metadata": {
                        "explorer_url": "https://etherscan.io/token/0xDef1...abc123",
                        "dexscreener_url": null,
                        "signals_checked": 15,
                        "confidence": "high"
                      },
                      "fetched_at": "2026-05-27T06:38:22.654321"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or unsupported chain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidAddress": {
                    "summary": "Invalid address format",
                    "value": {
                      "detail": "Invalid EVM address (expected 0x... 42 chars)",
                      "code": "invalid_address"
                    }
                  },
                  "unsupportedChain": {
                    "summary": "Chain not supported for risk analysis",
                    "value": {
                      "detail": "Risk analysis not supported on 'solana'. Available: ethereum, arbitrum, base, optimism, polygon, bsc",
                      "code": "unsupported_chain"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/webhook/nowpayments": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "NOWPayments IPN webhook",
        "description": "Receives Instant Payment Notifications (IPN) from NOWPayments. Validates the HMAC-SHA512 signature from the `x-nowpayments-sig` header before processing.\n\nOn confirmed payment: upgrades the user's tier, sends receipt email, activates subscription.\n\n**IPN security:** Signature is verified against NOWPayments IPN secret key. Unverified requests are silently rejected with 200 to prevent retry storms.",
        "operationId": "nowpaymentsIpn",
        "security": [],
        "parameters": [
          {
            "name": "x-nowpayments-sig",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 signature of the request body (from NOWPayments IPN)",
            "schema": {
              "type": "string",
              "example": "abc123def456..."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "NOWPayments IPN payload — raw JSON from NOWPayments"
              },
              "examples": {
                "paymentConfirmed": {
                  "summary": "Payment confirmed IPN",
                  "value": {
                    "payment_id": "1234567890",
                    "invoice_id": "9876543210",
                    "payment_status": "confirmed",
                    "pay_address": "0x742d35Cc6634C0532925a3b844BcD9B5C1c4D1a5",
                    "pay_amount": "0.025",
                    "actually_paid": "0.025",
                    "pay_currency": "ETH",
                    "order_id": "ord_abc123",
                    "purchase_id": "pur_xyz789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IPN processed (or already processed — idempotent)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "already_processed"
                      ],
                      "example": "ok"
                    }
                  }
                },
                "examples": {
                  "ok": {
                    "summary": "IPN processed",
                    "value": {
                      "status": "ok"
                    }
                  },
                  "alreadyProcessed": {
                    "summary": "Duplicate IPN",
                    "value": {
                      "status": "already_processed"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication and higher rate limits. Obtain from https://0xradar.app/dashboard. Can also be passed as `?api_key=` query parameter."
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Maximum requests allowed in the current time window",
        "schema": {
          "type": "integer",
          "example": 600
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Requests remaining in the current time window",
        "schema": {
          "type": "integer",
          "example": 595
        }
      },
      "X-RateLimit-Reset": {
        "description": "Unix timestamp when the rate limit window resets",
        "schema": {
          "type": "integer",
          "example": 1748330400
        }
      },
      "Retry-After": {
        "description": "Seconds to wait before retrying (sent with 429 responses)",
        "schema": {
          "type": "integer",
          "example": 45
        }
      }
    },
    "schemas": {
      "ServiceInfo": {
        "type": "object",
        "required": [
          "app",
          "version",
          "docs",
          "endpoints"
        ],
        "properties": {
          "app": {
            "type": "string",
            "example": "0xRadar API"
          },
          "version": {
            "type": "string",
            "example": "0.3.0"
          },
          "docs": {
            "type": "string",
            "example": "/docs"
          },
          "endpoints": {
            "type": "object",
            "properties": {
              "health": {
                "type": "string"
              },
              "wallet_balances": {
                "type": "string"
              },
              "wallet_portfolio": {
                "type": "string"
              },
              "sweep_quote": {
                "type": "string"
              }
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "service",
          "version",
          "supported_chains",
          "chain_count",
          "timestamp"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "degraded",
              "down"
            ],
            "example": "ok"
          },
          "service": {
            "type": "string",
            "example": "0xradar-api"
          },
          "version": {
            "type": "string",
            "example": "0.3.0"
          },
          "supported_chains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "ethereum",
              "arbitrum",
              "base",
              "optimism",
              "polygon",
              "hyperevm",
              "bsc"
            ]
          },
          "chain_count": {
            "type": "integer",
            "example": 7
          },
          "dependencies": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "redis": "ok"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-27T06:38:15.395077"
          }
        }
      },
      "Chain": {
        "type": "object",
        "required": [
          "id",
          "name",
          "native_symbol",
          "chain_id",
          "explorer",
          "is_l2"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Canonical chain ID used in API parameters",
            "example": "ethereum"
          },
          "name": {
            "type": "string",
            "description": "Human-readable chain name",
            "example": "Ethereum"
          },
          "native_symbol": {
            "type": "string",
            "description": "Native gas token symbol",
            "example": "ETH"
          },
          "chain_id": {
            "type": "integer",
            "description": "EVM chain ID (per EIP-155)",
            "example": 1
          },
          "explorer": {
            "type": "string",
            "format": "uri",
            "description": "Block explorer URL",
            "example": "https://etherscan.io"
          },
          "is_l2": {
            "type": "boolean",
            "description": "Whether this chain is an L2/sidechain",
            "example": false
          }
        }
      },
      "ChainsResponse": {
        "type": "object",
        "required": [
          "chains",
          "count"
        ],
        "properties": {
          "chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chain"
            }
          },
          "count": {
            "type": "integer",
            "example": 7
          }
        }
      },
      "NativeBalance": {
        "type": "object",
        "required": [
          "symbol",
          "balance",
          "value_usd"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "example": "ETH"
          },
          "balance": {
            "type": "string",
            "description": "Native token balance as decimal string",
            "example": "5.68"
          },
          "price_usd": {
            "type": [
              "string",
              "null"
            ],
            "description": "Current USD price",
            "example": "2061.15"
          },
          "value_usd": {
            "type": [
              "string",
              "null"
            ],
            "description": "Total USD value of native balance",
            "example": "11706.32"
          }
        }
      },
      "TokenBalance": {
        "type": "object",
        "required": [
          "contract",
          "symbol",
          "decimals",
          "balance",
          "balance_raw"
        ],
        "properties": {
          "contract": {
            "type": "string",
            "description": "ERC-20 token contract address",
            "example": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          },
          "symbol": {
            "type": [
              "string",
              "null"
            ],
            "description": "Token symbol (null if unknown)",
            "example": "USDC"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Token name (null if unknown)",
            "example": "USD Coin"
          },
          "decimals": {
            "type": "integer",
            "minimum": 0,
            "maximum": 18,
            "description": "Token decimal places",
            "example": 6
          },
          "logo": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Token logo URL (null if unavailable)",
            "example": null
          },
          "balance": {
            "type": "string",
            "description": "Human-readable balance (decimal string)",
            "example": "1500.0"
          },
          "balance_raw": {
            "type": "string",
            "description": "Raw balance in smallest unit (wei/satoshi)",
            "example": "1500000000"
          },
          "price_usd": {
            "type": [
              "string",
              "null"
            ],
            "description": "Current USD price (null if prices disabled or unavailable)",
            "example": "1.00"
          },
          "value_usd": {
            "type": [
              "string",
              "null"
            ],
            "description": "Total USD value of this token holding (null if prices disabled)",
            "example": "1500.0"
          }
        }
      },
      "ChainInfo": {
        "type": "object",
        "required": [
          "name",
          "chain_id",
          "explorer"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Ethereum"
          },
          "chain_id": {
            "type": "integer",
            "example": 1
          },
          "explorer": {
            "type": "string",
            "format": "uri",
            "example": "https://etherscan.io"
          }
        }
      },
      "BalancesResponse": {
        "type": "object",
        "required": [
          "address",
          "chain",
          "chain_info",
          "native",
          "tokens",
          "token_count_total",
          "token_count_shown",
          "total_value_usd",
          "timestamp"
        ],
        "properties": {
          "address": {
            "type": "string",
            "description": "Queried wallet address (lowercase)",
            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
          },
          "chain": {
            "type": "string",
            "example": "ethereum"
          },
          "chain_info": {
            "$ref": "#/components/schemas/ChainInfo"
          },
          "native": {
            "$ref": "#/components/schemas/NativeBalance"
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenBalance"
            }
          },
          "token_count_total": {
            "type": "integer",
            "description": "Total tokens on this chain (may exceed token_count_shown if truncated)",
            "example": 5
          },
          "token_count_shown": {
            "type": "integer",
            "description": "Number of tokens actually returned",
            "example": 5
          },
          "total_value_usd": {
            "type": "string",
            "description": "Total portfolio value on this chain (native + tokens)",
            "example": "13206.32"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-27T06:38:15.395077"
          }
        }
      },
      "PortfolioResponse": {
        "type": "object",
        "required": [
          "address",
          "chains_requested",
          "chains_with_value",
          "total_value_usd",
          "total_tokens",
          "by_chain",
          "errors",
          "timestamp"
        ],
        "properties": {
          "address": {
            "type": "string",
            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
          },
          "chains_requested": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Chain IDs that were requested",
            "example": [
              "ethereum",
              "base"
            ]
          },
          "chains_with_value": {
            "type": "integer",
            "description": "Number of chains with non-zero balance",
            "example": 2
          },
          "total_value_usd": {
            "type": "string",
            "description": "Total USD value across all chains",
            "example": "13250.45"
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total token count across all chains",
            "example": 8
          },
          "by_chain": {
            "type": "object",
            "description": "Per-chain breakdown. Keys are chain IDs.",
            "additionalProperties": {
              "$ref": "#/components/schemas/BalancesResponse"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "chain": {
                  "type": "string"
                },
                "error": {
                  "type": "string"
                }
              }
            },
            "description": "Errors for individual chains (partial success)",
            "example": []
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-27T06:38:16.102034"
          }
        }
      },
      "SweepChainQuote": {
        "type": "object",
        "required": [
          "chain",
          "token_count",
          "gas_cost_usd",
          "net_value_usd",
          "is_profitable"
        ],
        "properties": {
          "chain": {
            "type": "string",
            "description": "Chain being evaluated",
            "example": "ethereum"
          },
          "token_count": {
            "type": "integer",
            "description": "Number of tokens on this chain",
            "example": 5
          },
          "gas_cost_usd": {
            "type": "string",
            "description": "Estimated gas cost in USD",
            "example": "0.50"
          },
          "net_value_usd": {
            "type": "string",
            "description": "Net value after gas costs",
            "example": "11706.27"
          },
          "is_profitable": {
            "type": "boolean",
            "description": "Whether sweeping this chain is profitable",
            "example": true
          }
        }
      },
      "SweepSummary": {
        "type": "object",
        "required": [
          "recommendation"
        ],
        "properties": {
          "total_gross_value_usd": {
            "type": "string",
            "example": "13250.45"
          },
          "total_gas_cost_usd": {
            "type": "string",
            "example": "0.50"
          },
          "total_net_value_usd": {
            "type": "string",
            "example": "11750.40"
          },
          "recommendation": {
            "type": "string",
            "enum": [
              "sweep",
[...]
